/*******************************************************************************/
/*     5.  aside
/*******************************************************************************/

.sponsor{
	text-align: center;
	padding:15px 0;
	a{
		display: inline-block;
		img{
			width: auto;
		}
	}
}

aside{
	background: $mainColor;
	@include pie-clearfix;
	padding:15px 0;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	h3{
		font-weight: bold;
		margin: 0 0 10px 0;

	}
	p{
		margin: 0;
	}

	.kontak{
		li{
			list-style: none;
			i{
				margin-right: 10px;
			}
			a{
				color: #fff;
				text-decoration: none;
			}
		}		
	}

	.pengunjung{
		li{
			list-style:none;
			span{
				font-weight: bold;
				&:before{
					content: " : ";
					text-align: right;
				}
			}
		}
	}

}
