/*******************************************************************************/
/*     6.  footer
/*******************************************************************************/

footer{	
	@include border-radius(0 0 5px 5px);
	@extend aside;
	background: darken($mainColor,5%);
	p{
		// font-size: 12px;

		float: left;
		&.credit{
			float: right;
			text-align: right;
		}

		a{
			text-decoration: none;
			color: #fff;
			font-weight: bold;
		}
	}
}
