/*******************************************************************************/
/*     3. header
/*******************************************************************************/

#header{
	background: $mainColor;
	color: white;
	padding: 50px 0px 100px 0px;
}

.logo{
	display: block;
	margin: 0;
	float: left;
}

#form{
	position: relative;
	color:#444;
}

.cari{
	@extend .logo;
	float: right;

	input[type="search"]{
		position: absolute;
		top:15px;
		right: 0;
		border:solid 1px lighten($mainFontColor,60%);
		padding: 10px 40px 10px 10px;
		font-size: $mainZise;
		&:focus{
			border:solid 1px lighten($mainColor,65%);
			outline: none;
		}
	}

	input[type="submit"]{
		top:15px;
		border: none;
		position: absolute;
		right:0;
		z-index: 3;

		margin:5px 5px 5px 0;

		width: 30px;
		height: 25px;

		@include icon-sprite("icon-search");
		@include hide-text;
		background:{
			color: transparent;
			repeat:no-repeat;
		}

		&:hover {

			background: {
				color: lighten($mainFontColor,70%);
			}
		}
	}
}

#nav{
	position: relative;
	@include box-shadow(0 1px 0 lighten($mainFontColor,60%));
	margin-bottom: 10px;
}

nav{
	overflow: hidden;
	@include border-radius(5px 5px 0px 0px);

	ul{
		margin: 0;
		padding:0;
	}

	li{
		padding: 0;
		float: left;
		list-style: none;
		border-left: 1px solid #fff;
		border-right: 1px  solid lighten($mainFontColor,60%);
		

		&:hover{
			background: lighten($mainFontColor,70%);
		}
	}

	
	a{
		padding:15px;
		// margin: 15px 0;
		display: block;
		font-size: $mainZise;
		text-decoration: none;
		color: $mainFontColor;
		&.active{
			background: lighten($mainFontColor,70%);
		}
	}
}


ul{
		padding:0;
		margin: 0;
	&.cart{
		position: absolute;
		top:0;
		right: 0;
		float: right;
		
		li{
			list-style: none;
			padding: 13px 15px 13px 0;
			a{
				float: left;
				line-height: 20px;
				@include icon-sprite('icon-cart');
				font-size: 13px;
				display: block;
				padding:0px 5px 0px 25px;
				text-decoration: none;
				color: lighten($mainFontColor,15%); 
				&:after{
					content: "  - "
				}
				&:hover{
					text-decoration: underline;
				}
			}

			span{
				float: left;
				line-height: 20px;
				background: none;
				font-size: 13px;
				display: block;
				color: lighten($mainFontColor,15%);
				&:before{
					content: " Rp. ";
				}
			}
		}
	}
}



.slide{
	img{
		width: 100%;
	}
}