/*******************************************************************************/
/*     4.  section
/*******************************************************************************/

#section{
	position: relative;
	margin-top: -46px;
	padding-bottom: 30px;

	.baris{
		background: #fff;
		@include border-radius(5px);
		@include box-shadow(0 0 5px #444);
	}
	.bungkus{
		
	}
}

#meta{
	text-align: center;
	font-size: 20px;
	padding: 30px 0;
	// font-style: italic;

}

#produk{
	@include pie-clearfix;
	.judul{
		margin-bottom: 10px;
		// @include pie-clearfix;
		background:image-url('hr.png') repeat-x scroll left center transparent;
		h2{
			display: inline-block;
			background: #fff;
			font-size: 17px;
			padding-right: 10px;
			color: $mainColor;
		}

		
	}
	article{
		margin-bottom: 30px;
		&:nth-of-type(4n+1){
			&.zeen-3{
				clear: left;
				margin-left: 0px;
			}	
		}
	}

	a{
		color: $mainFontColor;
		text-decoration: none;
		.thumb{
			@include transition-property(box-shadow);
			@include transition-duration(1s);
			@include box-shadow(0 0 0 5px lighten($mainFontColor,70%));
		}

		&:hover{
			&>.thumb{
				@include box-shadow(0 0 0 5px $mainColor);
				@include transition-property(box-shadow);
			}
		}
	}

	h3{
		font-size: 13px;
		line-height: 20px;

		span{
			display: block;
			font-size: 12px;
			color: $secondaryFontColor;
			&:before{
				content: "Rp. ";
			}
			&:after{
				content: ",-";
			}
		}
	}

}